<div class="comment_entry">
      <tr>
        <td><%= comment.commenter %></td>
        <td><%= comment.body %></td>
        <td><%= comment.product_id %></td>
        <td><%= link_to '详细', product_comment_path(comment.product_id, comment), method: :get %></td>
        <td><%= link_to '编辑', edit_product_comment_path(comment.product_id, comment), method: :get %></td>
        <td><%= link_to '删除', product_comment_path(comment.product_id, comment), method: :delete, data: { confirm: '确认删除？' } %></td>
      </tr>
</div>
