<h3>编辑评论</h3>
<%= form_for(edit_product_comment_path(@comment.product, @comment), :actions => 'update') do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label "评论人" %></h3>
	<%= f.hidden_field :commenter, :value => @comment.commenter %>
	<p><%= @comment.commenter %><br /></p>
  </div>
  <div class="field">
    <%= f.label "编辑内容" %><br>
    <%= f.text_area :body, :name => 'body', :value => @comment.body %>
  </div>
    <div class="field">
    <%= f.label "\0" %>
    <%= f.hidden_field :product_id, :value => @comment.product %>
  </div>
  <div class="field">
		<%= f.label "\0" %>
	  <%= f.hidden_field :comment_id, :value => @comment %>
  </div>
  <div class="actions">
  <!-- :comment => @comment, -->
    <%= f.submit "提交修改" %>
  </div>
<% end %>

<%= link_to '返回', product_comment_path(@comment.product, @comment) %> |
<%= link_to '回到商品条目', products_path(@product) %>
