<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Product:</strong>
  <%= @comment.product %>
</p>

<%= link_to '编辑', edit_product_comment_path(@comment.product_id, @comment) %> |
<%= link_to 'Product index', products_path(@comment.product_id) %>
