<div class="general_form">
  
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>请键入用户名与密码</legend>

  <div>
    <%= f.label :name, "用户名" %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :password, "密\t码" %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, '确认密码' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "创建用户" %>
  </div>
  </fieldset>
<% end %>
</div>
