<!-- qrcode's C is for admin only! -->
<!-- default: upload a qrcoded file -->
<%= form_for(@qrcode) do |f| %>
  <% if @qrcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qrcode.errors.count, "error") %> prohibited this qrcode from being saved:</h2>

      <ul>
      <% @qrcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id, :min => 1 %>
  </div>


<!-- opt1: through qrcode image ==> qrcode -->
<!-- without data type check -->
  <p>添加二维码</p>
  <div class="field">
  <!-- using CarrierWave -->
    <p>直接上传二维码图片添加</p>
    <%= f.label :qrcode_img %><br>
    <%= f.file_field :qrcode_img %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- 究竟是通过图片作为id还是用string作为id? -->
<!-- identify with string: barcode is  -->
<!-- algorithm: only the qrcode are known to both side, and suppose to be identified by u/s. Whenever the product.id CRUD, qrcode SHOULD be CRUD! -->
<!-- uploading file method is for tesing module runs well or not -->
<!-- and, nothing else -->

<!-- using rQRCode to ENCODE image to qrcode -->
<!-- opt2: through string ==> qrcode -->
<%= form_tag({action: :create}, multipart: true) do %>
  <fieldset>
    <legend>通过商品id添加</legend>
    <div>
    <label for="barcode_str">条形码值</label>
      <%= text_field_tag :barcode_str %>
    </div>
    <div>
      <%= submit_tag "提交" %>
    </div>
  </fieldset>
<% end %>
