<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="list_image">
        <%= link_to line_items_path(:product_id => product), method: :post, remote: true do %>
        <% image_tag(product.avatar.url, :border => 0, :class => "photo_hover3")  %>
        <% end %>
      </td>
      <td class="list_description">
          <h3><%= product.name %></h3>
      </td>
      <td class="list_description">
         <%= truncate(strip_tags(product.detail), :length => 80) %>
      </td>
      <td class="price_line"><span>
      <%= number_to_currency(product.price, :unit=>"￥") %>
      </span>
      <%= button_to '我想要!', line_items_path(:product_id => product),  remote: true %>
      </td>
        
        <td class="list_actions">
          <%= link_to '详细', product %><br/>
        </td>
        <td class="list_actions">
          <%= link_to '编辑', edit_product_path(product) %><br/>
        </td>
        <td class="list_actions">
          <%= link_to '删除', product, method: :delete, data: { confirm: '确认删除？' } %>
        </td>
        

</tr>
        
