<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<!-- <html class="no-js" lang="en">  -->
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>超市商品评论系统</title>  

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Rec</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag "application" %>
  <!-- My stylesheets -->
	<%# <%= stylesheet_link_tag   :rec, :media => 'all' %>
  <%= stylesheet_link_tag "styles", :media => 'all' %>
<%= stylesheet_link_tag "css3.css", :media => 'all' %>
<!-- think simple template -->

<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
<!-- <link rel="stylesheet" type="text/css" href="css/styles.css"/> -->
<link type="text/css" href="css/css3.css" rel="stylesheet" />



  <!-- My stylesheets END -->
  <%= csrf_meta_tags %>

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <%= javascript_include_tag 'modernizr' %>



  <!-- Initializes the modernizr and actually perform the checks. Enable this
       if you need the modernizr, but remember to only do the actual checks
       that you need. -->
  <!-- <#%= javascript_tag "Modernizr.load();" %> -->
</head>
<body id="store">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <!-- Add your site or application content here -->
<!-- my header -->
    <header>
    <table>
      <tbody>
        <tr>
          <td>
          <!--start logo-->
              <!-- <a href="#" id="logo"><img src="images/logo.png" width="201" height="90" alt="logo"/></a>     -->
          <!--end logo-->
            
          </td>
          <td>
       <!--start intro-->
       <!-- <div id="intro">        -->
       <!-- <hgroup> -->
       <h1>WeMark</h1>
       <!-- </hgroup> -->
       <!-- </div> -->
       <!--end intro-->
            
          </td>
          <td>
          <table>
            <tbody>
              <tr>
                <td>
                  <!--start menu-->
                  <nav>
                    <ul>
                      <li><%= link_to '首页', store_url %></li>

                      <li><%= link_to '商品列表', controller: 'products' %></li>
                      <!-- <li><a href="#">二维码列表</a></li> -->
                      <li><%= link_to '登录', login_path %></li>
                      <!-- <li><a href="#">关于网站</a></li>
                      <li><a href="#">联系我们</a></li> -->
                    </ul>
                  </nav>
                  <!--end menu-->
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <!-- start search-box -->
                  <div class="search2">
                    <%= form_tag(products_url, :method => "get", id: "search-form") do %>
                      <%= text_field_tag :search, params[:search], placeholder: "请输入关键词..." %>
                      <%= submit_tag "搜索商品", :name => nil %> <!-- notice the nil! -->
                    <% end %>
                  </div>
                  <!-- end search-box -->
                </td>
              </tr>
            </tbody>
          </table>


          </td>
        </tr>
      </tbody>
    </table>

     <!--end header-->
  </header>



         
    <!-- TODO -->

  <!-- <div id="banner"> -->
    <%# <%= @page_title || "" %>
  <!-- </div> -->
  <div id="columns">
    <div id="side">
    <div id="wishlist">
      <%= render @wishlist %>
    </div>

    <div id="manage">
          <br />
          <table>
            <tbody>
      <% if session[:user_id] %>
              <tr><h3>管理<h3></tr>
              <tr><%= link_to "订单", orders_path %><tr/>
              <tr><%= link_to "产品列表", products_path %><tr/>
              <tr><%= link_to "用户列表", users_path %><br /><tr/>
              <tr><%= link_to '登出',  logout_path, :method => :delete %></tr>
      <% else %>
              <tr><%= link_to "登录", login_path %><tr/>
      <% end %>

            </tbody>
          </table>
      
    </div>

    </div>

 
  <div id="main">
  
  <%= yield %>      
  </div> 



  <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->

  <!-- My JavaScripts -->
	<%= javascript_include_tag 'application' %>
<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
  <%= javascript_include_tag 'jquery.pikachoose.js' %>
<script language="javascript">
      $(document).ready(
        function (){
          $("#pikame").PikaChoose();
        });
    </script>


	<!-- My JavaScripts END -->


  <% if Rails.env.production? %>
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <% end %>



   <!--start footer-->
   <footer>
   <div class="container">  
   <div id="FooterTwo"> © 2015 人机交互课程项目 </div>
   <div id="FooterTree"> Valid html5, design and code by <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a>   </div> 
   </div>
   </footer>




</body>
</html>
